:root {
  --main-text-color: black;
  --body-background: white;
  --font-family: "Times New Roman", Times, serif;
}

.theme-main {
  color: black;
  background-color: white;

}

.theme-dark {
  color: white;
  background-color: #363636;
}
.theme-3 {
  color: white;
  /* background-image: linear-gradient(#4287f5,#424bf5); */
  background-image: linear-gradient(#78a3ff,#787fff);
  min-height: 100vh;
  /* background-color: blue; */
}

.theme-4 {
  color: red;
  background-color: #ffe6e6;
}

body {
  font-size: 100%;
  background: var(--body-background);
  font-family: var(--font-family);
  color: var(--main-text-color)
}

#fps {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1.125;
}

h2 {
  /* text-align: center; */
  /* font-size: 4vw; */
  margin-top: 0px;
  margin-bottom: 0px;
}

div {
  /* font-size: 1.33; */
}

p {
  /* font-size: 1.33; */
}

.main-heading {

}

.box {
  /* border-bottom: groove; */
  margin-top: 2%;

}
